body {
  background-color: #001232;
}

/* navbar  */
.nav-background {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.nav-back {
  background-color: #5406e0;
}
/* .nav-link:hover{
  background-color:#874af0 ;
  border-top: 1px solid;
  border-bottom: 1px solid;

} */
.nav-link {
  border: 1px solid transparent;
}
.nav-link:hover {
  background-color: #874af0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* location  */
.nav-background {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.back {
  height: 15rem;
}

/* card  */
.card-text {
  color: white;
}
.card-text:hover {
  color: blue;
}

/* pagation  */

.page-item {
  width: 40px;
  height: 40px;
  background-color: #032055;
}
.page-item:hover {
  background-color: blue;
}
.one {
  color: white;
}
.two {
  background-color: blue;
}

/* poster  */
.poster {
  background-color: #032055;
  width: 20rem;
  height: 19rem;
}
.border-trading {
  border-top: 4px solid #0f367d;
}
.categories {
  color: white;
}
.categories:hover {
  color: blue;
}
.notify {
  width: 35px;
  height: 23px;
  background-color: #874af0;
  color: white;
}
.notify:hover {
  color: blue;
}

/* latest-post  */

.poster-2 {
  background-color: #032055;
  width: 20rem;
  height: 21rem;
}
.latest-post-img img {
  width: 60px;
}
.latest-post-heading a {
  color: white;
}
.post-margin {
  border-top: 4px solid #0f367d;
}

/* newletter */
.poster-3 {
  background-color: #032055;
  width: 20rem;
  height: 15rem;
}
.post-3-margin {
  border-top: 4px solid #0f367d;
}
.user-name {
  background-color: #032055;
  border: 4px solid #042c77;
  outline: none;
}
.subscribe-btn {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.subscribe-btn:hover {
  background: linear-gradient(to top, #4a00e0, #8e2de2);
}

/* end  */

.end {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.end-margin-top {
  padding-top: 90px;
  padding-bottom: 90px;
}

.end-input {
  width: 20rem;
  background-color: #9352e9;
  border: none;
  padding: 10px;
  outline: none;
}
.end-input::placeholder {
  color: white;
}
.end-telegram {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  border: none;
  position: absolute;
  left: -40px;
  top: 5px;
}
.end-dashed {
  border-bottom: 3.5px dashed #9352e9;
}
.end-profile {
  transition: margin-left 1s;
}
.end-profile:hover {
  margin-left: 8px;
}

/* footer  */

.footer-back {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}

/* 320 11111111111111111111111111111111111111111111111111111111111111 */
@media (min-width: 10px) and (max-width: 320px) {
  /* end  */

  .end-telegram {
    background: linear-gradient(to bottom, #4a00e0, #8e2de2);
    border: none;
    position: absolute;
    left: 250px;
    top: -40px;
  }

  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }
}

/* 576 222222222222222222222222222222222222222222222222222222222222222 */
@media (min-width: 321px) and (max-width: 576px) {
  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }

  /* about  */
  .about-incon {
    padding-top: 15px;
  }
}

/* 768 333333333333333333333333333333333333333333333333333333333333333 */
@media (min-width: 578px) and (max-width: 768px) {
  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }
  /* about  */
  .about-incon {
    padding-top: 15px;
  }
}
