body {
  background-color: #001232;
}

/* navbar  */
.nav-background {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.nav-back {
  background-color: #5406e0;
}
/* .nav-link:hover{
  background-color:#874af0 ;
  border-top: 1px solid;
  border-bottom: 1px solid;

} */
.nav-link {
  border: 1px solid transparent;
}
.nav-link:hover {
  background-color: #874af0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
/* location  */
.nav-background {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.back {
  height: 15rem;
}

/* faq */

.faq-btn {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.faq-btn:hover {
  background: linear-gradient(to top, #4a00e0, #8e2de2);
}
.faq-heading {
  font-size: 50px;
  line-height: 110%;
}
.faq-accordian-btn {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.faq-accordian-text {
  background-color: #032055;
}
.accordion-item {
  border: none;
}

/* end  */

.end {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.end-margin-top {
  padding-top: 90px;
  padding-bottom: 90px;
}

.end-input {
  width: 20rem;
  background-color: #9352e9;
  border: none;
  padding: 10px;
  outline: none;
}
.end-input::placeholder {
  color: white;
}
.end-telegram {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  border: none;
  position: absolute;
  left: -40px;
  top: 5px;
}
.end-dashed {
  border-bottom: 3.5px dashed #9352e9;
}
.end-profile {
  transition: margin-left 1s;
}
.end-profile:hover {
  margin-left: 8px;
}

/* footer  */

.footer-back {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}

/* 320 11111111111111111111111111111111111111111111111111111111111111 */
@media (min-width: 10px) and (max-width: 320px) {
  .faq-heading {
    font-size: 30px;
    line-height: 110%;
  }
  /* end  */

  .end-telegram {
    background: linear-gradient(to bottom, #4a00e0, #8e2de2);
    border: none;
    position: absolute;
    left: 250px;
    top: -40px;
  }

  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }
}

/* 576 222222222222222222222222222222222222222222222222222222222222222 */
@media (min-width: 321px) and (max-width: 576px) {
  /* faq  */
  .faq-heading {
    font-size: 40px;
    line-height: 110%;
  }

  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }

  /* about  */
  .about-incon {
    padding-top: 15px;
  }
}

/* 768 333333333333333333333333333333333333333333333333333333333333333 */
@media (min-width: 578px) and (max-width: 768px) {
  /* footer-incons */
  .footer-icons {
    margin-top: 20px;
  }
  /* about  */
  .about-incon {
    padding-top: 15px;
  }
}
